@charset "utf-8";
body{font-size:12px; line-height:32px;font-family:"Simsun","microsoft YaHei",Verdana,Arial,Helvetica; }
/*------------------------page-------------------------*/
.wrap{width:1920px;height:1080px;background:url(../images/info/body_bg.png) 50% 50% no-repeat;margin:0 auto;position:relative;}
/*---------header------*/
h1.titles{display:block;width:990px;height:122px;font:bold 56px/1.8 'Microsoft YaHei';color:white;text-shadow:0 3px 7px rgba(0, 0, 0, 0.3);text-align:center; background:url(../images/info/titles_bg.png) 50% 0 no-repeat;margin:0 auto;padding:14px;}
.qrcode_box{width:152px;height:145px;overflow:hidden;background:url(../images/info/qrcode_bg.png) 0 0 no-repeat;box-shadow:2px 1px 2px rgba(0, 0, 0, 0.27);position:absolute;top:22px;right:38px;padding:0;}
.qrcode{width:92px;height:92px;overflow:hidden;margin:16px auto 7px auto;position:static;}
.qrcode_text{font:16.9px/1.2 'Microsoft YaHei';color:#262626;text-align:center;}
/*--------mainbody-----*/
.mainbody{clear:both;width:96%; height:792px;margin:45px auto 0 auto; position:relative; }
/*-----content-----*/
.main_left,.main_right{position:absolute;}
.main_left{width:52.5%;height:810px;top:-61px;left:-40px;padding:61px 0 0 40px;overflow:hidden;}
.main_right{width:46.2%;top:0;right:0;}
.mlf_con{width:100%;height:792px;position:relative;}
.mlc{width:958.453px;height:792px;margin-right:40px;margin-bottom:82px; float:left; /* position:absolute; */}
.b1{opacity:1; z-index:100;}
.b2{opacity:1;z-index:90;}
.con_box{min-height:360px;height:auto;position:relative;}
.con_title{width:456px;height:74px;padding:33px 0 0 14px;background:url(../images/info/tit_bg.png) 0 0 no-repeat;position:absolute;top:-61px;left:-28px;}
.con_title h3{font:bold 36px/1.5 'Microsoft YaHei';color:white;text-shadow:0 3px 3px rgba(25,137,13,0.47);}
i.i_tit1,i.i_tit2,i.i_tit3,i.i_tit4{display:inline-block;width:63px;height:63px;overflow:hidden;background:url(../images/info/icon_title.png) no-repeat;float:left;margin-right:35px;position:relative;top:-5px;}
i.i_tit1{background-position:0 0;}
i.i_tit2{background-position:0 -63px;}
i.i_tit3{background-position:0 -126px;}
i.i_tit4{background-position:0 -189px;}
.con_tent{height:310px;padding:45px 17px 0 19px;background:url(../images/info/main_conbg.png) 0 0 repeat-x;border-radius:15px;border-top:6px solid #99cc00;
-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, 0.16);-moz--box-shadow:0 5px 15px rgba(0, 0, 0, 0.16);box-shadow:0 5px 15px rgba(0, 0, 0, 0.16);}
.mlc_box,.mrc_box{height:719px;overflow:hidden;background:url(../images/info/main_crtbg.png) 0 0 repeat-x;border-radius:15px;}
.mlc_box{width:919px;display:block;}
.mrc_box{position:relative;}
.mlc_inner{width:100%;height:100%;display:table;}
.mlc_tent{display:table-cell;text-align:center;vertical-align:middle;}
.tent_lf,.tent_rt{width:49%;}
.tent_lf{float:left;}
.tent_rt{float:right;}
.tentlf_empty{width:34%;height:64px;padding:23px 0 0 106px;margin:20% auto;background:url(../images/info/icon_white.png) 20% 0 no-repeat;font:24px/1.5 'Microsoft YaHei';color:white;text-align:center;}
.tentimg_empty{width:50%;height:36px;padding-top:290px;margin:0 auto;background:url(../images/info/icon_ye.png) 50% 0 no-repeat;font:24px/1.5 'Microsoft YaHei';color:#a1a1a1;text-align:center;position:relative;top:20%;}
.tent_lf p{font:24px/1.7 'Microsoft YaHei';color:white;text-align:center;margin-top:10px;}
.tent_img{width:238px;height:238px;margin:0 auto;}
.tent_rt ul{display:block;width:50%;height:auto;margin:0 auto;}
.tent_rt li{display:block;height:58px;overflow:hidden;padding-left:88px;margin:20px 0;font:26px/58px 'Microsoft YaHei';color:#333;
text-shadow:2px 0px 0px #fff, -2px 0px 0px #fff, 0px 2px 0px #fff, 0px -2px 0px #fff;background:url(../images/info/icon_face.png) no-repeat; }
.tent_rt li.i_smile{background-position:0 0;}
.tent_rt li.i_ping{background-position:0 -59px;}
.tent_rt li.i_cry{background-position:0 -118px;}
.pic_list{display:block;height:280px;}
.pic_list li{display:block;width:186px;height:242px;overflow:hidden;float:left; margin:20px 20px 0 24px; background:url(../images/info/pic_pbg.png) 0 0 no-repeat; position:relative;}
.pic{width:112px;height:138px; margin:10px auto 0 auto; }
.pic img{width:112px;height:138px;}
.pic_list li h4,.pic_list li p{display:block;font:20px/1.55 'Microsoft YaHei';text-align:center;}
.pic_list li h4{font-size:36px;color:#333;}
.pic_list li p{color:#878787;}
.tent_empty{width:50%;height:36px;padding-top:290px;margin:0 auto;background:url(../images/info/icon_gray.png) 50% 0 no-repeat;font:24px/1.5 'Microsoft YaHei';color:#a1a1a1;text-align:center;position:relative;top:20%;}
.mrc_tent{width:98%;height:680px;overflow:hidden; margin:0 auto;padding:10px 0; position:relative;}
.mrc_list{display:block;height:100%;padding:0 20px;}
.mrc_list li{display:block;height:86px;border-bottom:1px solid #99cc00;font:16px/1.5 'Microsoft YaHei';padding:4px 0 0 2px;margin:20px 0; position:relative;}
.mrc_list li > div{display:block;width:760px;height:86px;}
.mrc_list li h5{display:block;width:100%;height:45px;position:relative;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.mrc_list li h5 span{font-size:31px;color:#2d8a2d; display: inline-block;font-size:31px;left:2px; position:absolute;top:0;}
span.gray,span.text,span.date{display:block;float:left;line-height:36px;}
span.gray{font-size:16px;color:#606060; width:70px; position:relative;top:2px;}
span.text,span.date{font-size:24px;color:#262626;}
span.text{width:424px;padding:0 10px; text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
span.date{width:136px;padding-left:10px;}
.mrc_list li.default{display:none;}
.mrc_list li.default h5 span,.mrc_list li.default span.text,.mrc_list li.default span.date{color:#ff6600;}
.mrc_list li.default h5 span.first{-webkit-animation:myfirst 1.5s linear 0.5; animation:myfirst 1.5s linear 0.5;}
@-webkit-keyframes myfirst{
  0%{transform:scale(1);opacity:.7;}
  25%{transform:scale(1.15);opacity:1;}
  50%{transform:scale(1);opacity:.4;}
  75%{transform:scale(1.1);opacity:.7;}
  100%{transform:scale(1);opacity:1;}
}
@keyframes myfirst{
  0%{transform:scale(1);opacity:.7;}
  25%{transform:scale(1.15);opacity:1;}
  50%{transform:scale(1);opacity:.4;}
  75%{transform:scale(1.1);opacity:.7;}
  100%{transform:scale(1);opacity:1;}
}
/*--------footer-----*/
.footer{width:96%;height:40px;margin:30px auto 0 auto;background:none;border-top:none;}
.footer_lf,.footer_rt{height:40px;color:white;text-shadow:0 3px 7px rgba(0, 0, 0, 0.3);}
.footer_lf{width:30%;float:left;font:30px/39px 'Microsoft YaHei';background:url(../images/info/icon_molile.png) 2px 50% no-repeat;padding-left:52px;}
.footer_rt{width:20%;float:right;font:24px/39px 'Microsoft YaHei';}

/*----error----*/
.error_box{width:70%;height:782px;padding:38px;background:url(../images/info/main_conbg.png) 0 0 repeat-x;border-radius:15px;border-top:6px solid #99cc00;
-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, 0.16);-moz--box-shadow:0 5px 15px rgba(0, 0, 0, 0.16);box-shadow:0 5px 15px rgba(0, 0, 0, 0.16); margin:0 auto;position:relative; top:10%;}
.error_tent{height:100%;overflow:hidden;background:white url(../images/info/main_crtbg.png) 0 0 repeat-x;border-radius:15px;}
.i_error{display:block;width:300px;height:60px;margin:30px auto;padding:280px 20px 0 20px; background:url(../images/info/icon_error.png) 50% 0 no-repeat;font:48px/1 'Microsoft YaHei';color:rgba(255,156,0,1);text-align:center;}
.error_text{display:block;font:34px/1.5 'Microsoft YaHei';color:rgba(102,102,102,1);text-align:center;padding:0 17%;margin-top:5%;}





